/*!
Steve Jones
 */

 @import url(http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic);
 @import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);

body {
    width: 100%;
    height: 100%;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #13171A;
    margin: 0px auto;
    position: relative;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: normal;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #42dca3;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #1d9b6c;
}

.table > tbody > tr > td, .table > tbody > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #777777;
  }

.wp1, .wp2, .wp3, .wp3-1, .wp3-2, .wp3-3, .wp3-4, .wp3-5, .wp4, .wp5, .wp6 {
    visibility: hidden;
}
.bounceIn, .bounceInLeft, .bounceInRight, .bounceInDown, .fadeIn, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInLeft, .fadeInRight, .slideInUp, .slideInDown, .slideInLeft, .slideInRight, .zoomIn, .swing, .pulse, .bounce, .progress1-delay, .progress2-delay, .progress3-delay, .progress4-delay, .progress5-delay {
    visibility: visible;
}
.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}
.delay-1s {
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}
.delay-2s {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
    text-transform: uppercase;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000;
}

.navbar-custom .navbar-brand {
    font-weight: 500;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(255,255,255,.8);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: rgba(255,255,255,.3);
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255,255,255,.3);
        background: #000;
    }
}

#intro {
    background: url(../img/fenway.jpg);
    height: 70%;
    background-size: cover;
    background-position: center;
    background-position-y: 91px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
    color: #000;
}
#intro .overlay {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.95)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
    /* IE6-9 */
    height: 100%;
    background-attachment: fixed;
}
#intro h1 {
    color: #FFF;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 3px;
}
#intro p.subtitle {
    color: #ddd;
}
#intro .scroll-arrow {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-bottom: 10px;
}
.intro-content {
    position: absolute;
    padding: 17% 0 5% 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.intro-text {
    font-size: 16px;
    font-weight: 300;
    color: #FFF;
}
@media screen and (max-width: 1000px) {
    .intro-content {
        padding: 22% 0 5% 0;
    }
}
@media screen and (max-width: 768px) {
    .intro-content {
        padding: 30% 0 5% 0;
    }
    .navbar-toggle {
        padding: 0px 10px;
    }
.intro-text {
    font-size: 16px;
    font-weight: 300;
    color: #FFF;
}
}
@media screen and (max-width: 580px) {
    .intro-content {
        padding: 45% 0 5% 0;
    }
    a.fa.fa-angle-down {
        margin-top: 80px !important;
    }
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 100px;
}

/* ===PORTFOLIO=== */
#project {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
}

#project p {
    font-size: 14px;
    color: #777777;
}

#project li {
    font-size: 14px;
    color: #777777;
    padding-bottom: 8px;
}

#project h2 {
  margin-bottom: 50px;
  line-height: 0.5;
  text-align: center;
  position: relative;
  content: "";
  height: 10px;
  border-bottom: 1px solid #e7e6e6;
  top: 0;
  width: 100%;
}
#project h3 {
  margin-bottom: 20px;
}

#project h2 span {
  display: inline-block;
  line-height: 1;
  margin-top: -10px;
  padding-left: 45px;
  padding-right: 45px;
}
#project #dark h2 span {
  background: rgb(247, 248, 250);
}
#project #light h2 span {
  background: #fff;
}

/*h2 span:before {
  right: 100%;
  margin-right: 15px;
}
h2 span:after {
  left: 100%;
  margin-left: 15px;
}*/

#project .title-hr {
  border-color: #e0dede;
  border-bottom-width: 1px;
  width: 100%;
}

#project .margin-5 {
  margin-left: 5px;
}

#light {
  background-color: #fff;
  padding-top: 50px;
    padding-bottom: 50px;
}

#dark {
  background-color: rgb(247, 248, 250);
  padding-top: 50px;
  padding-bottom: 50px;
}

#project .project-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: .3rem;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

/*MacBook*/
.macbook{
  position: relative;
  top: 50%;
  transform: translateY(20%);
}
.pca-hold {
  width: 500px;
  margin: 0 62.5px;
}
.pca-hold .pca-main {
  display: block;
  position: relative;
  background-color: #c8c8c8;
  border: 15px solid #2d2d2d;
  height: 320px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.pca-hold .pca-main:after {
  content: '';
  position: absolute;
  top: -12px;
  left: 50%;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
  width: 5px;
  height: 5px;
  background-color: #959595;
  border-radius: 100%;
}
.pca-hold .pca-inner {
  display: block;
}
.pca-hold .pca-sub {
  display: block;
  text-align: center;
  position: relative;
  height: 25px;
}
.pca-hold .pca-sub .pca-top {
  position: absolute;
  bottom: 0;
  left: -62.5px;
  display: block;
  width: 625px;
  height: 25px;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  background-color: #e8e8e8;
  opacity: 1;
  z-index: 2;
}
.pca-hold .pca-sub .pca-bot {
  display: block;
  width: 200px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #B1B1B1;
  border-radius: 0 0 225px 225px;
  opacity: 1;
  z-index: 2;
  -webkit-transform: translate(-50%,0);
  -ms-transform: translate(-50%,0);
  -o-transform: translate(-50%,0);
  transform: translate(-50%,0);
}

.pca-hold .pca-bg {
  background: url(../portfolio/mlb-stat-vis/CS7450-HighFidelity-II.png);
  height: 100%;
  background-size: cover;
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-color: #000;
  color: #000;
}



.modal-header, .modal-footer {
    background-color: #F0F0F0;
}
.modal-header .close {
    margin-top: -13px;
}
.close {
    font-size: 40px;
    font-weight: 300;
}
@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 700px;
    }
}
.modal-title {
    text-align: center;
    font-weight: 400;
}
.modal-title-description {
    text-align: center;
    margin: 10px 0 0 -25px;
    font-style: italic;
    font-weight: 400;
    color: #555;
}
.modal-content {
    border-radius: 0px;
}
.modal-body img {
    margin: 0 auto;
}
.modal-body p {
    text-align: center;
}
.modal-body p.visit {
    margin-top: 50px;
}
.modal-body #visit-btn {
    padding: 10px;
    color: #000;
    border: 2px solid #000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 40px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.modal-body #visit-btn:hover {
    color: #fff;
    background-color: #000;
}
.modal-description {
    font-size: 14px;
    margin: 0px 25px;
}
.modal-footer .btn {
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
}


/* FOR CHANGING COLOR OF ACTIVE CATEGORY */
.categories a.active {
    /*background-color: #C7E5FF;*/
}

/* FOR TRANSITION BEAUTIFULLY */
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 250px;
    }

    .download-section {
        padding: 100px 0;
    }

    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid #42dca3;
    color: #42dca3;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: #000;
    background-color: #42dca3;
}

#contact {
    /*padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F0F0F0;
    color: #000;*/
}
#contact p {
    /*font-size: 16px;
    font-weight: 300;
    max-width: 450px;
    margin: 0 auto;*/
}

ul.banner-social-buttons {
  padding-top: 20px;
}
ul.banner-social-buttons li a {
    display: block;
    width: 50px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    outline: 0;
    color: rgba(255, 255, 255, 0.8);
    background: #333;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}
@media screen and (max-width: 480px) {
    ul.banner-social-buttons li a {
        display: block;
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        outline: 0;
        color: rgba(255, 255, 255, 0.8);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
}
@media screen and (max-width: 340px) {
    ul.banner-social-buttons li a {
        width: 37px;
        height: 37px;
    }
}
ul.banner-social-buttons li a:hover, ul.banner-social-buttons li a:active {
    color: #FFF;
    -webkit-box-shadow: 1px 1px 3px #333;
    -moz-box-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.list-inline>li {
    padding: 0px !important;
}
#facebook, #twitter, #instagram, #linkedin, #codepen, #github, #pinterest {
    /*border: 1px solid #fff !important;*/
}
#facebook:hover {
    background-color: #3B5998;
}
#twitter:hover {
    background-color: #55ACEE;
}
#instagram:hover {
    background-color: #517fa4;
}
#linkedin:hover {
    background-color: #0077B5
}
#codepen:hover {
    background-color: #fff;
    color: #000;
}
#github:hover {
    background-color: #4183C4;
}
#pinterest:hover {
    background-color: #CC2127;
}

.copyright p {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 300;
}
/*copyright text*/
.copyright-text {
    margin-top: 15px;
}

footer {
  color: #fff;
    padding: 50px 0;
    background-color: #222;
}

footer p {
    margin: 0;
}

::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(175, 218, 255, 0.5);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(175, 218, 255, 0.5);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}
